<!DOCTYPE html>
<html lang="en">

    <head>

        <!-- boilerplate -->
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        
        <!-- content -->
        <title>Flask API</title>
        
        <!-- CSS -->
        <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
        
        <!-- JS -->
        <!-- ... -->

    </head>

    <body>

        <ul>
            <li><span>    /api/precipitation                </span> - returns the last 12 months of precipitation data</li>
            <li><span>    /api/stations                     </span> - returns the stations</li>
            <li><span>    /api/tobs                         </span> - returns the last 12 months of temperature data for the most-active station</li>
            <li><span>    /api/range/&ltstart&gt            </span> - returns the minimum, average, and maximum temperature from the specified range</li>
            <li><span>    /api/range/&ltstart&gt/&ltend&gt  </span> - returns the minimum, average, and maximum temperature from the specified range</li>
        </ul>

    </body>

</html>